@{
    ViewData["Title"] = "IP转换器";
}

<div class="page-header">
  <h1>IP Address Converter<small> Subtext for header</small></h1>
</div>

<div class="row">
	<div class="col-md-5">
        <textarea class="form-control" rows="11" placeholder="Data Source"></textarea>
	</div>
	<div class="col-md-2 text-center">
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
          <button type="button" class="btn btn-default">To Uint Number ①</button>
          <button type="button" class="btn btn-default">To Ip String ②</button>
          <button type="button" class="btn btn-default">To Ip & Mask ③</button>
          <button type="button" class="btn btn-default">To Ip List ④</button>
          <button type="button" class="btn btn-default">To Ip Periods ⑤</button>
          <button type="button" class="btn btn-default">To Ip & Location ⑥</button>
          <button type="button" class="btn btn-danger">Clear All</button>
        </div>
	</div>
	<div class="col-md-5">
        <textarea class="form-control" rows="11" placeholder="Converted Result"></textarea>
	</div>
</div>
<br/>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Notice</h3>
  </div>
  <div class="panel-body">
        ① 192.168.0.1 或 3232235521 &nbsp;&nbsp; => &nbsp;&nbsp;  3232235521 <br/>
        ② 192.168.0.1 或 3232235521 &nbsp;&nbsp; => &nbsp;&nbsp; 192.168.0.1 <br/>
        ③ 192.168.0.0,192.168.0.255 或 3232235520,3232235775 &nbsp;&nbsp; => &nbsp;&nbsp; 192.168.0.0/24 <br/>
        ④ 192.168.0.0/30 &nbsp;&nbsp; => &nbsp;&nbsp; 192.168.0.0,192.168.0.1,192.168.0.2,192.168.0.3 <br/>
        ⑤ 192.168.0.0/30 &nbsp;&nbsp; => &nbsp;&nbsp; 192.168.0.0,192.168.0.3 <br/>
        ⑥ 36.1.80.2 或 604065794 &nbsp;&nbsp; => &nbsp;&nbsp; 36.1.80.2/604065794,中国-海南-海口-电信 <br/>
  </div>
</div>